.login{
    margin: 0px auto;
    width: 350px;
    height:auto;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #cccccc;
}


#login_input{
    width: 200px;
    margin: 0px auto;
}

#username{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size:large;
}

#pwd{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size:large;
}

#submit{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    font-size:large;
}