.wardrobe {
    position: relative;
    margin-top: 20px;

}
.img_box{
    position: relative;
    float: left;
}
.img_content{
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}
.img_content img{
    width: 190px;
    height: auto;
}


.add_wardrobe {
    padding-top: 10px;
    width: 80px;
    height: 80px;

    /* 上下间隔0px,左右自适应 实现居中*/
    margin: 0px auto;
}

#btn_add_wardrobe {
    width: 100%;
    height: 100%;
    /* 上下间隔0px,左右自适应 实现居中*/
}

#add_wardrobe_form{
    display: none;
    width: 150px;
    margin: 0px auto;
}

#wardrobe_name{
    margin-top: 10px;
    height: 25px;
}

#wardrobe_submit{
    margin-top: 10px;
    height: 25px;
    font-size: larger;
}